* {
	display: block;
}
a, abbr, acronym, b, big, br, cite, code, em, i, img, q, small, span, strong, sub, sup {
	display: inline;
}
html > head, html > script {
	display: none;
}
rss {
	height: 100%;
	font-size: 1rem;
}

#page-header {
	display: block;
}

#page-header a {
	text-decoration: none;
}

article h2 {
	border-bottom: 1px solid var(--color-accent-subtle);
	padding: 1rem;
	margin-bottom: 1.5rem;
}

article {
	margin-bottom: 1rem;
}
